.product-image-holder
  display: none
body.post-type-archive-product
  background-color: #F1F1F1
.shop-header
  padding: 12px 0
  border: 1px solid #C1C1C1
  border-left: 0
  border-right: 0
  .font-smaller
    padding-left: 12px
    position: relative
    top: -2px
  .font-bold
    margin-right: 10px
  .product-sort
    &:after
      content: ""
      position: absolute
      left: 0
      top: -15px
      width: 110px
      height: 55px
    svg
      position: relative
      top: 4px
  .product-sort-dropdown
    display: none
    position: absolute
    right: 20px
    top: 31px
    z-index: 999
    background: #F1F1F1
    width: 100%
    border: 1px solid #C1C1C1
    a div
      padding: 8px 24px
      &.item-selected
        background: #C1C1C1
      &:hover, &.item-selected
        font-family: $font-mono-bold
        font-weight: bold
  .product-sort:hover .product-sort-dropdown
    display: block

.shop-sidebar
  padding: 0 !important
  .filter-category
    border: 1px solid #E6E6E6
    padding: 12px 16px
    margin-bottom: 20px
    .filter
      padding: 4px 0
      visibility: visible
      transition: all 0.2s ease
      &.closed
        visibility: hidden
        height: 0
        opacity: 0
        padding: 0;
        margin: 0;
        transition: none
  input[type='checkbox']
    width: 12px
    height: 12px
    border-radius: 0
    cursor: pointer
    &:checked
      background: black
  label
    cursor: pointer
  .sidebar-accordion-wrapper
    border-bottom: 1px solid #C1C1C1
    .grid-item.flex-grow
      position: relative;
      top: 2px;
  .sidebar-item
    padding: 12px 0
  .sidebar-item-accordion
    padding: 12px 0
    .accordion-icon:before
      content: url('../../assets/minus-sign.svg')
      position: absolute
      top: 3px
      right: -2px
    .accordion-icon.plus:before
      content: url('../../assets/plus-sign.svg')
      position: absolute
      top: 3px
      right: 0
  .record-club-btn
    padding: 12px 6px
    background: #000
    color: #fff
    text-align: center
.gws-product .label
  position: absolute
  top: -8px
  right: 10px
  background: #000
  color: #fff
  padding: 4px 8px
  line-height: 1.5rem
  font-size: 14px
.shop-pagination
  svg
    width: 30px
    position: relative
    top: 5px
    margin: 0 10px
    transition: transform 0.2s ease
    &.icon-arrow-right:hover
      transform: translateX(2px)
    &.icon-arrow-left:hover
      transform: translateX(-2px)
  .page-item
    margin: 0 4px
    padding: 0 2px
    &.current
      border-bottom: 1px solid #000
      padding-bottom: 4px
.flex-basis-min-content
  flex-basis: min-content !important
.align-items-flex-start
  align-items: flex-start

@media screen and (max-width: 1024px)
  .post-type-archive-product
    .shop-sidebar
      max-width: 30% !important
      flex-basis: 30% !important
    .shop-grid
      max-width: 70% !important 
      flex-basis: 70% !important
    .grid-row>.item-s-4
      max-width: 50%
      flex-basis: 50%
    .product-sort-dropdown
      top: 37px
      right: 10px
      width: 110px
      a
        div
          padding: 8px 12px 8px 12px

@media screen and (min-width: 648px)
  .mobile-header 
    display: none
  .product-sort
    position: relative
    top: 3px
    cursor: pointer
  .shop-sidebar
    .sidebar-accordion-wrapper
      &:last-of-type 
        border: none
        margin-top: 10px
    .filter-category
      div[data-trigger="product-list"]
        display: none
      .filter form div
        margin-left: 10px
        padding-bottom: 12px
      .filter[data-filter="product-list"]
        border: 0
        &.closed
          visibility: visible
          height: auto
          opacity: 1
          transition: none
@media screen and (max-width: 480px)
  .gws-product .label
    font-size: 13px
  .gws-product .product-price, .gws-product .product-sold-out
    width: 100%
    padding: 8px 0
  .post-type-archive-product
    .shop-sidebar, .shop-grid
      max-width: 100% !important
      flex-basis: 100% !important
    .grid-row>.item-s-4, .grid-row>.item-s-3
      max-width: 50%
      flex-basis: 50%
    .shop-grid 
      margin-top: 40px
    .item-s-12
      flex-basis: auto
  .single-product
    .grid-row>.item-s-3
      max-width: 50%
      flex-basis: 50%
  .shop-sidebar
    .filter-category 
      background: none
      border: none
    div[data-filter="product-list"]
      .sidebar-item
        padding: 8px 0 8px 8px !important